*{
    margin: 0;
    padding: 0;
}

header{
    width: 200px;
    height: 100vh;
    background-color: #252525;

    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;


    font-size: 15px;
}

.navbar-icon{
    color: white;
    font-size: 1em;
}

.navbar-title{
    color: white;
}